<h1>Visits</h1>

<tr>
  <th>ID</th>
  <th>url</th>
  <th>start</th>
  <th>end</th>
  <th>duration</th>
</tr>

<% @visits.each do |visit| %>
  <th><%= visit.id %></th>
  <th><%= visit.url %></th>
  <th><%= visit.start_time %></th>
  <th><%= visit.end_time %></th>
  <th><%= visit.duration %></th>
<% end %>
